*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f2f2f2;
text-align:center;
padding:30px;
}

h1{
margin-bottom:30px;
}

#levelContainer{
display:grid;
grid-template-columns:repeat(5,100px);
justify-content:center;
gap:20px;
}

.level{
width:90px;
height:90px;
border-radius:15px;
background:#4CAF50;
color:white;
font-size:25px;
display:flex;
justify-content:center;
align-items:center;
cursor:pointer;
transition:.3s;
}

.level:hover{
transform:scale(1.1);
}

.locked{
background:gray;
cursor:not-allowed;
}

button{
margin-top:30px;
padding:15px 30px;
font-size:18px;
border:none;
border-radius:10px;
background:#2196F3;
color:white;
cursor:pointer;
}